/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.block-editor-block-list__layout .block-editor-block-list__block ::selection {
	background-color: #b3e7fe;
}
.edit-post-visual-editor *,
.edit-post-visual-editor :after,
.edit-post-visual-editor :before {
	box-sizing: inherit;
}
.block-editor__container img {
	max-width: 100%;
	height: auto;
}
.text-muted {
	color: #777;
}
.album {
	padding-bottom: 2rem;
}
.album .row {
	width: 100%;
	margin: 0;
	letter-spacing: -0.31em;
	word-spacing: -0.43em;
}
.album .card {
	position: relative;
	margin-top: 0;
	padding: 0.7em 2em 1em;
	min-width: 255px;
	max-width: 520px;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
	box-sizing: border-box;
	padding: 1rem;
	letter-spacing: normal;
	word-spacing: normal;
	float: none;
	display: inline-block;
	border: 0;
	width: 50%;
	box-sizing: border-box;
}
.album .card .card-title h3 {
	font-size: 1em;
	font-weight: 600;
	text-align: center;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 10px 0;
	color: #000;
}
.album .card .card-text:focus {
	height: 100%;
}
.album .card .card-text {
	text-align: center;
	height: 67px;
	color: grey;
	font-size: 1em;
	height: 58px;
	overflow: hidden;
	margin: 0;
}
.album .card .card-image {
	height: 200px;
	width: 80%;
	display: block;
	position: relative;
	overflow: hidden;
	margin: auto;
	text-align: center;
}
.album .card .card-image:before {
	content: "";
	width: 100%;
	height: 100%;
	// position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: #fff;
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-ms-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
}
.album .card .card-image:hover:before {
	opacity: 0.2;
}
.album .card .card-image img {
	// position: absolute;
	display: block;
	height: auto;
	margin: auto;
	max-height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.album .card .card-btn {
	width: 100%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	text-transform: uppercase;
	background: #000;
	color: #fff;
	font-size: 1rem;
	-webkit-transition: background 0.1s ease-in;
	-moz-transition: background 0.1s ease-in;
	-ms-transition: background 0.1s ease-in;
	-o-transition: background 0.1s ease-in;
	transition: background 0.1s ease-in;
	border-radius: 3px;
	color: #000;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	background-color: #f0c14b;
	font-weight: 600;
	background-image: url(https://demicrofonos.com/img/icon-amazon-black.svg) !important;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 8px center;
	position: relative;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.album .card-info {
	padding: 0 5px;
}

.card .product-price {
	text-align: center;
}
.card .older-price {
	margin-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-decoration: line-through;
}
.card .normal-price {
	text-transform: uppercase;
	display: block;
	font-size: 150%;
	color: red;
}
.card .off-price {
	color: red;
	display: block;
	font-size: small;
}
/*! CSS Used from: Embedded */
.editor-styles-wrapper h3 {
	font-size: 1.56em;
}
.editor-styles-wrapper h3 {
	line-height: 1.4;
}
.editor-styles-wrapper h3 {
	margin-top: 1em;
	margin-bottom: 1em;
}
.editor-styles-wrapper h3 {
	color: inherit;
}
.editor-styles-wrapper p {
	font-size: inherit;
	line-height: inherit;
	margin-top: 28px;
	margin-bottom: 28px;
}

/***********************************/
